<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="accordion" id="accordionExample">

			<div class="accordion-item">
			    <h2 class="accordion-header" id="headingOne">
			    	<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        <strong>LEIA-ME #EXCEL</strong>
			    	</button>
				</h2>
				<!-- Caso queira que o texto já venha aberto é só colocar show na class "accordion-collapse collapse show"  -->
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				    <div class="accordion-body">
				        <strong>Atencão!!! Antes de importar os dados do EXCEL trate/verifique:</strong>
				        <ol>
				        	<li>
				        		Verifique se o arquivo (planilha) está com a extensão <strong>XLSX. Observação: Caso o arquivo esteja em XLS, apenas renomear para XLSX não dará certo</strong>;
				        	</li>
				        	<li>
				        		Verifique se a planilha está nomeada igual ao nome da tabela do banco de dados e com extensão XLSX. <strong>Exemplo: linhas.xlsx, produtos.xlsx</strong>;
				        	</li>
				        	<li>
				        		Verifique se as colunas das planilhas estão nomeadas iguais as colunas da tabela do banco de dados. <strong>Exemplo: codigo_linha, codigo_aliquota etc</strong>;
				        	</li>
				        	<li>
				        		Deixe apenas as colunas que de fato tem informação, as demais remova. <strong>Exemplo: A planilha tem a coluna referência, mas nenhuma célula está preenchida</strong>;
				        	</li>
				        	<li>
				        		Trate os dados deixando no tamanho máximo comportado pela coluna que irá receber a informação no banco de dados. <strong>Exemplo: Descrição de Produtos só comporta 50 caracteres</strong>; 
				        	</li>
				        	<li>
				        		Trate os dados deixando no tamanho máximo comportado pela coluna que irá receber a informação no banco de dados. <strong>Exemplo: Descrição de Produtos só comporta 50 caracteres</strong>;
				        	</li>
				        	
				        </ol>
				    </div>
				</div>
			</div>

		</div>

		<form action="#" method="get">
			
			<fieldset>
				<legend><h4>Os dados serão importados de:</h4></legend>
				<div class="form-check-inline">
				 	<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="excel" checked>
				 	<label class="form-check-label" for="exampleRadios1">
				    	Arquivo Excel
				  	</label>
				</div>
				<div class="form-check-inline">
				  	<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="banco" disabled>
				  	<label class="form-check-label" for="exampleRadios2">
				    	Direto do Banco de Dados
				  	</label>
				</div>
				<div class="form-check form-check-inline">
				  	<input class="form-check-input" type="checkbox" name="gerar_script" id="inlineCheckbox1" value="true">
				 	<label class="form-check-label" for="inlineCheckbox1">Deseja Gerar o Script em TXT?</label>
				</div>
			</fieldset>
			<button type="submit" class="btn btn-outline-success">Próximo</button>
		</form>
		
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>